<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/css/Animated-Toggle-NavBar-BS5-V2.css">
    <link rel="stylesheet" href="assets/css/css/Animated-Toggle-NavBar-BS5.css">
    <link rel="stylesheet" href="assets/css/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Pricing-Yearly--Monthly-badges.css">
</head>

<body style="background:url(&quot;assets/img/About%20Us.gif&quot;) left / cover no-repeat;">
    <nav class="navbar fixed-top bg-dark navbar-dark">
        <div class="container"><a class="navbar-brand" href="#"><img class="img-fluid" src="assets/img/LOGO%20(2).png"></a><button data-bs-toggle="collapse" data-bs-target="#navcol-2" class="navbar-toggler collapsed"><span class="visually-hidden">Toggle navigation</span><span data-aos="fade" class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse text-center" id="navcol-2">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#">First Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                </ul>
            </div>
        </div>
    </nav>