<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/css/Animated-Toggle-NavBar-BS5-V2.css">
    <link rel="stylesheet" href="assets/css/css/Animated-Toggle-NavBar-BS5.css">
    <link rel="stylesheet" href="assets/css/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/Pricing-Yearly--Monthly-badges.css">
</head>

<body>
    <div class="container">
        <div></div>
        <div class="row" style="margin-top: 10px;">
            <div class="col"><img src="assets/img/LOGO%20(2).png" width="122" height="34"></div>
            <div class="col"><button class="btn float-end" type="button" style="background: #c50076;color: #ffffff;width: 100px;">Button</button></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col"><img class="float-end" src="assets/img/simple-icons_hey.png">
                <p class="float-end" style="font-size: 24px;font-weight: bold;font-style: italic;margin-right: 10px;">Hello Pooja!</p>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5">
        <div>
            <ul class="nav nav-pills d-flex justify-content-center" role="tablist" style="text-align: left;">
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-1" style="color: #000000;background: rgba(0,0,0,0);box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);margin-right: 20px;">Task</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-2" style="margin: 0px;background: rgba(0,0,0,0);color: #000000;box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);">Your Profile</a></li>
            </ul>
            <div class="tab-content pt-5">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Project Name</th>
                                                <th>Task</th>
                                                <th>Status</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Project 1</td>
                                                <td>Updates for XYZ Module</td>
                                                <td>InProcess</td>
                                                <td><button class="btn btn-primary" type="button" style="background: #72c400;border-style: none;">May-2023</button></td>
                                                <td><button class="btn btn-primary" type="button" style="background: #72c400;border-style: none;">May-2023</button>&nbsp;</td>
                                                <td><i class="fas fa-ellipsis-h"></i></td>
                                            </tr>
                                            <tr>
                                                <td>Project 2</td>
                                                <td>Bug fixing for ABC Module</td>
                                                <td>Hold</td>
                                                <td><button class="btn btn-primary" type="button" style="background: #72c400;border-style: none;">May-2023</button></td>
                                                <td><button class="btn btn-primary" type="button" style="background: #72c400;border-style: none;">May-2023</button></td>
                                                <td><i class="fas fa-ellipsis-h"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-2">
                    <div class="col">
                        <form>
                            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                                <div class="col-xl-2"><img class="rounded-circle img-fluid" src="assets/img/Ellipse%202.png" style="width: 329px;"></div>
                                <div class="col-xl-5">
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="email"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="file"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="file"></div>
                                </div>
                                <div class="col-xl-5" style="text-align: center;">
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="text"></div>
                                    <div style="margin-top: 5px;margin-bottom: 5px;"><input class="form-control" type="date"></div><button class="btn btn-primary btn-lg" type="button" style="background: #c50076;width: 120px;margin-top: 10px;border-style: none;">Button</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/js/aos.min.js"></script>
    <script src="assets/js/js/bs-init.js"></script>
</body>

</html>